.header__container {
  display: flex;
  flex-direction: column;
  align-items: end; /*Выравнивание по правому краю*/
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  gap: 10px;
}

@media screen and (max-width: 1280px) {
  .header__container {
    font-size: 12px;
    line-height: 16px;
    gap: 5px;
  }
}

@media screen and (max-width: 540px) {
  .header__container {
    font-size: 10px;
    line-height: 14px;
    gap: 0;
  }
}
