.description {
  background-image: url("../../images/description\ background.png");
  padding: 120px 982px 159px 279px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1680px) {
  .description {
    padding: 110px 100px 130px 100px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1280px) {
  .description {
    padding: 100px 50px 100px 50px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 540px) {
  .description {
    padding: 80px 19px 80px 12px;
    margin-bottom: 0;
  }
}
