.description {
  background-image: url("../../images/description\ background.png");
  padding: 120px 982px 159px 279px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}
