.quotes {
  padding: 60px 336px 60px 282px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 540px) {
  .quotes {
    padding: 80px 10px 80px 10px;
  }
}
