.advantages__item {
  display: flex;
  max-width: 405px;
  justify-content: space-between;
  gap: 27px;
}

@media screen and (max-width: 540px) {
  .advantages__item {
    max-width: 350px;
    padding: 13px 0;
  }
  .advantages__item:nth-child(1) {
    order: 3;
  }
  .advantages__item:nth-child(2) {
    order: 4;
  }
  .advantages__item:nth-child(3) {
    order: 5;
  }
  .advantages__item:nth-child(4) {
    order: 2;
  }
  .advantages__item:nth-child(5) {
    order: 1;
  }
  .advantages__item:nth-child(6) {
    order: 6;
  }
}
