.advantages__item {
  display: flex;
  max-width: 405px;
  justify-content: space-between;
  gap: 27px;
}

@media screen and (max-width: 540px) {
  .advantages__item {
    max-width: 350px;
  }
}
