.footer {
  padding: 60px 282px 90px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  background-color: #333333;
}

@media screen and (max-width: 540px) {
  .footer {
    padding: 80px 151px 80px 10px;
  }
}
