.catalog {
  padding: 60px 290px 60px 282px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1280px) {
  .catalog {
    padding: 70px 70px 70px 30px;
  }
}

@media screen and (max-width: 540px) {
  .catalog {
    padding: 80px 80px 80px 10px;
  }
}
