.advantages {
  padding: 60px 311px 60px 282px;
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
}

@media screen and (max-width: 540px) {
  .advantages {
    padding: 80px 10px;
  }
}
