.header {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  padding: 10px 335px 10px 279px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header {
    padding: 10px;
  }
}

@media screen and (max-width: 540px) {
  .header {
    padding: 11px 10px;
  }
}
